body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    font-size: x-large;
}

h2 {
   font-size: medium;
}

blockquote {
    color: #000000;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    font-size: medium;
}

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

header ul li {
    display: inline;   
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="address"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"]
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    margin: 0 5px;
}

#cadastro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 550px;
    margin-top: 20px;
    margin-left: 50px; 
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
td:empty {
    height: 15px; 
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="date"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin-top: auto;
}


