body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    font-size: x-large;
}

h2 {
   font-size: medium;
}

p,
blockquote {
    color: #000000;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    font-size: medium;
}

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

header ul li {
    display: inline;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 50px;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="address"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    margin: 0 5px;
}

#login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 350px;
    margin-top: 70px;
    margin-left: 50px; 
}

#cadastro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 550px;
    margin-top: 20px;
    margin-left: 50px; 
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin-top: auto;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    vertical-align: top;
}

input[type="text"],
input[type="time"],
input[type="date"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

